<% slides.forEach(function(entry) { %>
  <% var src = 'https://abiomedtraining.com/ACE/2.0/decks/' + entry.vaultId + '/thumbnails/1.PNG' %>
    <div class="large-thumb" data-slide="<%= entry.vaultId %>" style="box-shadow:5px 5px 5px #999;">
      <img id="thumb-<%= entry.vaultId %>" style="width: 310px; height: 198px;" src="<%= src %>" />
      <p><%= entry.filename %></p>
      <p><%= entry.vaultId %></p>
    </div>
<% }) %>
